.messagingBody {
  width: 400px;
  height: 674px;
  border-bottom: 0px solid #ddd;
  overflow: auto;
  padding-right: 8px;
  padding-left: 8px;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  
  border-radius: inherit;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: auto;
  display: block;
  left: 50%;
}

.conversationEntriesListView {
  height: auto;
  padding: 0px 8px;
  margin-top: 0;
  margin-bottom: 0;
}

.textMessageBubbleContainer {
  text-align: left;
}
