.messagingHeader {
    width: 460px;
    height: 50px;
    background: linear-gradient(180deg, #f0f0f5 0%, #ffffff 100%);
    border-radius: 15px 15px 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #e5e5ea;
}

.messagingHeaderCloseButton {
    float: right;
    margin-right: 0px;
    padding-bottom: 80px;
    height: 50px;
    width: max-content;
    background: transparent;
    border: none;
    pointer-events: all;
    cursor: pointer;
}

.messagingHeaderCloseButtonIcon {
    transform: scale(2);
    fill: whitesmoke;
}

.messagingHeaderCloseButtonIcon:hover{
    opacity: 0.5;
    transform: scale(2);
}
