.messagingFooter {
  display: flex;
  height: 50px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  border-radius: inherit;
  background-color: #f0f0f5;
  width: 81%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #e5e5ea;
}

.messagingFooter textarea {
  width: 85%;
  align-content: center;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  border-radius: 18px;
  margin: 0 5px;
  padding: 8px 12px;
  resize: none;
  border: 1px solid #e5e5ea;
  background-color: white;
  font-size: 15px;
}

.sendButton {
  background: transparent;
  border: 0;
}

.sendButtonIcon {
  transform: scale(2);
  fill: #25d366;
  padding-left: 4px;
}

.sendButton:hover:not(:disabled) {
  opacity: 0.7;
  cursor: pointer;
}

.sendButton:disabled {
  opacity: 0.3;
}

.messagingInputTextarea:disabled,
.sendButton:disabled {
  cursor: not-allowed;
}
