.messagingFooter {
    width: 81%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f0f0f5;
    border-radius: 0 0 35px 35px;
    border-top: 1px solid #e5e5ea;

    padding: 8px 10px;
    margin: 0;
}



.messagingFooter textarea {
  width: 85%;
  align-content: center;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  border-radius: 18px;
  margin: 0 5px;
  padding: 8px 12px;
  resize: none;
  border: 1px solid #e5e5ea;
  background-color: white;
  font-size: 15px;
}

.sendButton {
  background: transparent;
  border: 0;
}

.sendButtonIcon {
  transform: scale(2);
  fill: #25d366;
  padding-left: 4px;
}

.sendButton:hover:not(:disabled) {
  opacity: 0.7;
  cursor: pointer;
}

.sendButton:disabled {
  opacity: 0.3;
}

.messagingInputTextarea:disabled,
.sendButton:disabled {
  cursor: not-allowed;
}
