.messagingBody {
    width: 400px;
    height: 674px;
    border-bottom: 0px solid #ddd;
    overflow: auto;
    padding-right: 12px;
    padding-left: 12px;
    background: white;
    border-radius: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: auto;
    display: block;
    left: 50%;
}


.conversationEntriesListView {
    height: auto;
    padding: 5px 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.textMessageBubbleContainer {
    text-align: left;
}
