.messagingWindow {
    width: 460px;
    height: 920px;
    border-radius: 20px;
    background-image: url('./IphoneFrame.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* vertical pegado */
    align-items: center;         /* 👈 centra en X */

    padding: 0 2px;
    overflow: hidden;
}



.messagingWindow {
  outline: 2px solid red;
}

.messagingWindow > * {
  outline: 1px dashed blue;
}
.messagingWindow > * {
    margin: 0;
}
