.messagingWindow {
    width: 460px;
    height: 920px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-image: url('./IphoneFrame.png');
    background-size: cover;
    background-position: center;

    padding: 0 2px;
    overflow: hidden;

    /* 🔥 GRID, no flex */
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-content: center; /* 👈 CENTRA TODO EL BLOQUE */
}




/* debugger
.messagingWindow {
  outline: 2px solid red;
}

.messagingWindow > * {
  outline: 1px dashed blue;
}
*/
.messagingWindow > * {
    margin: 0;
}
