.messagingBody {
  width: 400px;
  height: 674px;
  border-bottom: 0px solid #ddd;
  overflow: auto;
  padding-right: 8px;
  padding-left: 8px;
  background-image: url('./whatsapp-wallpaper.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: inherit;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: auto;
  display: block;
  left: 50%;
}

.conversationEntriesListView {
  height: auto;
  padding: 0px 8px;
  margin-top: 0;
  margin-bottom: 0;
}

.textMessageBubbleContainer {
  text-align: left;
}
