.textMessageSenderContent {
  color: rgba(0, 0, 0, 0.5);
  margin: 4px 0 0 0;
  font-size: 11px;
  font-weight: 400;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.textMessageSenderContent[class~="incoming"] {
  text-align: left;
  justify-content: flex-start;
}

.textMessageSenderContent[class~="outgoing"] {
  text-align: right;
  justify-content: flex-end;
}

.textMessageBubbleContainer {
  overflow: auto;
}

.textMessageBubble {
  min-width: 50px;
  max-width: 350px;
  width: -webkit-fit-content;
  border-radius: 18px;
  margin: 1px auto;
  padding: 8px 12px;
  box-shadow: none;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.textMessageBubble[class~="incoming"] {
  float: left;
  background-color: #ffffff;
  color: black;
  border-bottom-left-radius: 4px;
  align-items: flex-start;
}

.textMessageBubble[class~="outgoing"] {
  float: right;
  background-color: #d8fdd2;
  color: black;
  border-bottom-right-radius: 4px;
}

.textMessageContent {
  white-space: pre-line;
  color: #000 !important;
  margin: 0px;
  font-size: 15px;
  font-weight: 400;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.textMessageBubble[class~="incoming"] .textMessageContent {
  color: #000 !important;
}

.textMessageContent h3 {
  margin: 8px 0 0 0;
  font-size: 1.1em;
  font-weight: 600;
  color: #000 !important;
}

.textMessageContent strong {
  font-weight: 600;
  color: #000 !important;
}
